-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: siga_db
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Alocacoes`
--

DROP TABLE IF EXISTS `Alocacoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Alocacoes` (
  `id_alocacao` int NOT NULL AUTO_INCREMENT,
  `id_instrutor` int NOT NULL,
  `id_sala` int NOT NULL,
  `id_turma` int NOT NULL,
  `turno` enum('Manh├ú','Tarde','Noite') NOT NULL,
  `data_inicio` date NOT NULL,
  `data_fim` date NOT NULL,
  `criado_por_perfil` enum('admin','instrutor') NOT NULL DEFAULT 'admin',
  `criado_por_usuario` int DEFAULT NULL,
  PRIMARY KEY (`id_alocacao`),
  KEY `fk_aloc_instrutor` (`id_instrutor`),
  KEY `fk_aloc_sala` (`id_sala`),
  KEY `fk_aloc_turma` (`id_turma`),
  CONSTRAINT `fk_aloc_instrutor` FOREIGN KEY (`id_instrutor`) REFERENCES `Instrutores` (`id_instrutor`) ON DELETE CASCADE,
  CONSTRAINT `fk_aloc_sala` FOREIGN KEY (`id_sala`) REFERENCES `Salas` (`id_sala`) ON DELETE CASCADE,
  CONSTRAINT `fk_aloc_turma` FOREIGN KEY (`id_turma`) REFERENCES `Turmas` (`id_turma`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Alocacoes`
--

LOCK TABLES `Alocacoes` WRITE;
/*!40000 ALTER TABLE `Alocacoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `Alocacoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Instrutores`
--

DROP TABLE IF EXISTS `Instrutores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Instrutores` (
  `id_instrutor` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) NOT NULL,
  `matricula` varchar(20) NOT NULL,
  PRIMARY KEY (`id_instrutor`),
  UNIQUE KEY `matricula` (`matricula`)
) ENGINE=InnoDB AUTO_INCREMENT=65 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Instrutores`
--

LOCK TABLES `Instrutores` WRITE;
/*!40000 ALTER TABLE `Instrutores` DISABLE KEYS */;
/*!40000 ALTER TABLE `Instrutores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Notificacoes`
--

DROP TABLE IF EXISTS `Notificacoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Notificacoes` (
  `id_notificacao` int NOT NULL AUTO_INCREMENT,
  `id_instrutor` int NOT NULL,
  `mensagem` text NOT NULL,
  `lida` tinyint(1) DEFAULT '0',
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_notificacao`),
  KEY `fk_notif_instrutor` (`id_instrutor`),
  CONSTRAINT `fk_notif_instrutor` FOREIGN KEY (`id_instrutor`) REFERENCES `Instrutores` (`id_instrutor`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Notificacoes`
--

LOCK TABLES `Notificacoes` WRITE;
/*!40000 ALTER TABLE `Notificacoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `Notificacoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Salas`
--

DROP TABLE IF EXISTS `Salas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Salas` (
  `id_sala` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) NOT NULL,
  `bloco` varchar(50) NOT NULL DEFAULT 'A',
  `tipo` enum('SALA','LABORATORIO') NOT NULL DEFAULT 'SALA',
  PRIMARY KEY (`id_sala`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Salas`
--

LOCK TABLES `Salas` WRITE;
/*!40000 ALTER TABLE `Salas` DISABLE KEYS */;
/*!40000 ALTER TABLE `Salas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Transferencias_Pendentes`
--

DROP TABLE IF EXISTS `Transferencias_Pendentes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Transferencias_Pendentes` (
  `id_transferencia` int NOT NULL AUTO_INCREMENT,
  `id_alocacao_original` int NOT NULL,
  `id_instrutor_origem` int NOT NULL,
  `id_instrutor_destino` int NOT NULL,
  `data_inicio_transferencia` date NOT NULL,
  `data_fim_transferencia` date NOT NULL,
  `status` enum('pendente','aceita','rejeitada') NOT NULL DEFAULT 'pendente',
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `data_atualizacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_transferencia`),
  KEY `fk_trans_aloc` (`id_alocacao_original`),
  KEY `fk_trans_inst_origem` (`id_instrutor_origem`),
  KEY `fk_trans_inst_destino` (`id_instrutor_destino`),
  CONSTRAINT `fk_trans_aloc` FOREIGN KEY (`id_alocacao_original`) REFERENCES `Alocacoes` (`id_alocacao`) ON DELETE CASCADE,
  CONSTRAINT `fk_trans_inst_destino` FOREIGN KEY (`id_instrutor_destino`) REFERENCES `Instrutores` (`id_instrutor`) ON DELETE CASCADE,
  CONSTRAINT `fk_trans_inst_origem` FOREIGN KEY (`id_instrutor_origem`) REFERENCES `Instrutores` (`id_instrutor`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Transferencias_Pendentes`
--

LOCK TABLES `Transferencias_Pendentes` WRITE;
/*!40000 ALTER TABLE `Transferencias_Pendentes` DISABLE KEYS */;
/*!40000 ALTER TABLE `Transferencias_Pendentes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Turmas`
--

DROP TABLE IF EXISTS `Turmas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Turmas` (
  `id_turma` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) NOT NULL,
  `turno` enum('Manh├ú','Tarde','Noite') NOT NULL DEFAULT 'Manh├ú',
  PRIMARY KEY (`id_turma`),
  UNIQUE KEY `unique_turma_turno` (`nome`,`turno`)
) ENGINE=InnoDB AUTO_INCREMENT=60 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Turmas`
--

LOCK TABLES `Turmas` WRITE;
/*!40000 ALTER TABLE `Turmas` DISABLE KEYS */;
/*!40000 ALTER TABLE `Turmas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Usuarios`
--

DROP TABLE IF EXISTS `Usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Usuarios` (
  `id_usuario` int NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `senha` varchar(255) NOT NULL,
  `nome` varchar(255) NOT NULL,
  `perfil` enum('admin','instrutor','tv') NOT NULL DEFAULT 'instrutor',
  `primeiro_acesso` tinyint(1) DEFAULT '1',
  `id_instrutor_vinculado` int DEFAULT NULL,
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `email` (`email`),
  KEY `fk_user_instrutor` (`id_instrutor_vinculado`),
  CONSTRAINT `fk_user_instrutor` FOREIGN KEY (`id_instrutor_vinculado`) REFERENCES `Instrutores` (`id_instrutor`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=67 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Usuarios`
--

LOCK TABLES `Usuarios` WRITE;
/*!40000 ALTER TABLE `Usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `Usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-29 16:53:29
